###############################################################################
##### Master aliases file.  Works for zsh and ksh.

###############################################################################
# Various command aliases
alias copy=cp
alias move=mv
alias md='mkdir'
alias cls="clear"
alias h="stty erase"
alias qu="stty erase"

case $SHELL in
   zsh* ) alias mv='nocorrect mv'    # no spelling correction on mv
          alias cp='nocorrect cp'    # no spelling correction on cp
          alias vi='nocorrect vi'
          ;;
   ksh* ) unalias mv                 # get rid of any mv -i, rm -i, etc
          unalias cp
          unalias vi
          unalias rm
          ;;
esac

alias gvim='gvim -p'

alias j=jobs
alias d='dirs -v'
alias h=history
#alias grep=egrep

# ls derivitives
alias ls='ls -F --color=tty'
alias ll='ls -l'
alias lh='ls -lh'
alias la='ls -lAF'
alias lla='ls -lA'

# Term variable settings
alias ansi="export TERM=ansi;clear"
alias vt100="export TERM=vt100;clear"
alias vt102="export TERM=vt102;clear"
alias vt220="export TERM=vt220;clear"
alias vt320="export TERM=vt320;clear"

alias clock="while /bin/true ; do date | tr '\012' '\015'; sleep 1; done"

alias sybok="ssh -p 222 sybok.vejr.com"
