alias baty="bat -l yaml"
alias batj="bat -l json"

unalias l 2>/dev/null
unalias ll 2>/dev/null
unalias ls 2>/dev/null

alias ls="lsd -F"
alias ll="ls -l"

# cd into a directory. if it doesn't exist, make it, then cd into it.
function cdm() {
    if [[ -z $1 ]]; then
        echo "please provide a directory name, we will cd to it, making it if it does not exist"
    elif [[ -d $1 ]]; then
        cd $1
    else
        mkdir $1
        cd $1
    fi
}
