alias up="cd ~/Development/go/src/square/up/"
alias ccl="cd ~/Development/cloud-cd-lambdas/"
alias ccs="cd ~/Development/cloud-cd-shared/"
alias cclu="cd ~/Development/cloud-cd-lambdas/utilities/"

alias baty="bat -l yaml"
alias batj="bat -l json"

unalias l 2>/dev/null
unalias ll 2>/dev/null
unalias ls 2>/dev/null

# alias ls="eza -F"
alias ll="eza -F -l --git"

function ls() {
    if [[ "${1:-}" == "-lart" ]]; then
        shift
        eza -F -la --sort newest $*
    else
        eza -F $*
    fi
}
